In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import re
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
from bs4 import BeautifulSoup
import re
from random import randint
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pickle
import requests
import math
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
import cfscrape
from lxml import etree
from datetime import date

### Updating list of companies

#### Getting up-to-date list of companies

In [3]:
from df2gspread import gspread2df as g2d
from oauth2client.service_account import ServiceAccountCredentials
spreadsheet_key = '1YrmtRylZG9z6fBc3pp-WEnaA2v5s-Z0yqVWWrgpEod8'
scope = ['https://spreadsheets.google.com/feeds'] 
credentials = ServiceAccountCredentials.from_json_keyfile_name('/Users/macbook/Downloads/gs-credentials.json', scope)

In [20]:
upd_comps = g2d.download(gfile=spreadsheet_key, wks_name = 'UPD Companies', credentials=credentials, col_names=True, row_names=True)
upd_comps = upd_comps.reset_index(drop=True).rename(columns={'Company Name':'Company Original'})
upd_comps.shape

(226, 6)

In [6]:
current_list_comps = pd.read_csv('Indeed_Companies-09-08-2020.csv', index_col=[0])

Checking companies that are in the up-to-date list but out of the current list

In [35]:
new_comps = [x for x in upd_comps['Company Original'].unique() if x not in current_list_comps['Company Original'].unique()]
len(new_comps)

22

In [43]:
# How many new companies
upd_comps.shape[0] - current_list_comps.shape[0]

20

Checking companies that were processed but not included in up-to-date list of companies

In [38]:
[x for x in current_list_comps['Company Original'].unique() if x not in upd_comps['Company Original'].unique()]

['Real Page', 'Aspen Technology']

In [46]:
new_comps_df = pd.DataFrame(new_comps, columns=['Company Original'])
new_comps_df.shape

(22, 1)

In [44]:
# Joining new companies to the list of companies
companies_list = pd.concat([current_list_comps, new_comps_df], ignore_index=True)
companies_list.shape

(228, 10)

# Initiate webdriver

In [201]:
browser = webdriver.Chrome('/Users/macbook/Downloads/Chrome Driver/chromedriver')

In [59]:
browser.get('https://www.indeed.com/companies?from=gnav-homepage')

### Getting companies pages on Indeed 
+ Pay attention to the search results on Indeed. It needs to be checked manually since Indeed can show wrong companies in search results

In [61]:
%%time
for i in companies_list.iloc[-len(new_comps):].index:
    try:
        company = companies_list['Company Original'].loc[i]
        sleep(2)
        search_input = '/html/body/div[1]/div/div[1]/div/div/form/div[1]/div/div/div/div[2]/input'
        browser.find_element_by_xpath(search_input).send_keys(company)
        sleep(0.5)
        browser.find_element_by_xpath(search_input).send_keys(Keys.ENTER)
        sleep(0.5)
        browser.find_element_by_xpath(search_input).send_keys(Keys.ENTER)
        sleep(3)

        path = '//*[@class="cmp-CompanyWidget-name"]'
        url = browser.find_element_by_xpath(path).get_attribute('href')
        indeed_name = browser.find_element_by_xpath(path).text

        companies_list['Indeed Name'].loc[i] = indeed_name
        companies_list['Indeed URL'].loc[i] = url
        companies_list['Home Page Jobs'].loc[i] = companies_list['Indeed URL'].loc[i] + '/jobs'
        print(i, company, '|', indeed_name, url)
        sleep(1)
        for _ in range(30):
            browser.find_element_by_xpath(search_input).send_keys(Keys.BACK_SPACE)
        
    except:
        pass
    
    sleep(1)
    for _ in range(30):
        browser.find_element_by_xpath(search_input).send_keys(Keys.BACK_SPACE)

206
206 Scale.ai | Scale.ai https://www.indeed.com/cmp/Scale.ai
207
207 Postman | ＰＯＳＴＭＡＮ https://www.indeed.com/cmp/%EF%BC%B0%EF%BD%8F%EF%BD%93%EF%BD%94%EF%BD%8D%EF%BD%81%EF%BD%8E
208
208 Nylas | nylas https://www.indeed.com/cmp/Nylas
209
209 Checkr  | Checkr https://www.indeed.com/cmp/Checkr
210
210 Auth0 | Auth0 https://www.indeed.com/cmp/Auth0
211
211 Segment | Segment https://www.indeed.com/cmp/Segment
212
212 Cloudinary | Cloudinary https://www.indeed.com/cmp/Cloudinary
213
213 Infobip  | Cloudinary https://www.indeed.com/cmp/Cloudinary
214
214 MessageBird  | Cloudinary https://www.indeed.com/cmp/Cloudinary
215
215 SendBird | SendBird https://www.indeed.com/cmp/Sendbird
216
216 Agora.io  | Agora.io https://www.indeed.com/cmp/Agora.io
217
217 Marqeta | Marqeta https://www.indeed.com/cmp/Marqeta
218
218 Algolia | Algolia https://www.indeed.com/cmp/Algolia
219
219 Sift | SIFT https://www.indeed.com/cmp/Sift
220
220 Firebase | Firebase https://www.indeed.com/cmp/Firebase
221
221 Nexmo | Nexmo https://www.indeed.com/cmp/Nexmo
222
222 Checkout | checkout food stores https://www.indeed.com/cmp/Checkout-Food-Stores-1
223
223 Plaid | Plaid https://www.indeed.com/cmp/Plaid
224
224 Rapyd | Rapyd https://www.indeed.com/cmp/Rapyd
225
225 TuSimple | TuSimple https://www.indeed.com/cmp/Tusimple
226
226 Cardlytics | Cardlytics https://www.indeed.com/cmp/Cardlytics
227
227 Mercury.co | Mercury https://www.indeed.com/cmp/Mercury
CPU times: user 2.46 s, sys: 216 ms, total: 2.67 s
Wall time: 3min 53s

In [72]:
#companies_list.iloc[-len(new_comps):]

In [71]:
#companies_list.to_csv('Indeed_Companies-{}.csv'.format(date.today().strftime("%d-%m-%Y")))

## Getting companies metadata

In [85]:
s = cfscrape.create_scraper()
scraper = cfscrape.create_scraper(sess=s)

In [111]:
for i in companies_list.iloc[-len(new_comps):].index:
    sleep(1)
    link = companies_list['Indeed URL'].loc[i]
    try:
        browser.get(link)
        path = '//*[@class="cmp-AboutMetadata"]' 
        meta_raw = browser.find_element_by_xpath(path).text
        
        companies_list['Comp Metadata'].loc[i] = meta_raw
        
        meta = meta_raw.split('\n')        
        for n,j in enumerate(meta):
            if meta[n-1] == 'Headquarters':
                companies_list['Headquarters'].loc[i] = j
                break
        
        print('#', i, '|', companies_list['Company Original'].loc[i], '|', companies_list['Headquarters'].loc[i], link)
    
    except:
        continue

# 207 | Postman | San Francisco https://www.indeed.com/cmp/%EF%BC%B0%EF%BD%8F%EF%BD%93%EF%BD%94%EF%BD%8D%EF%BD%81%EF%BD%8E
# 208 | Nylas | San Francisco https://www.indeed.com/cmp/Nylas
# 209 | Checkr  | San Francisco https://www.indeed.com/cmp/Checkr
# 210 | Auth0 | Bellevue https://www.indeed.com/cmp/Auth0
# 211 | Segment | The Greenway Iconic Offices Block C, Ardilaun Court 112-114 St. Stephen's Green Dublin 2, D02 TD28 https://www.indeed.com/cmp/Segment
# 212 | Cloudinary | Santa Clara https://www.indeed.com/cmp/Cloudinary
# 213 | Infobip  | London https://www.indeed.com/cmp/Infobip
# 214 | MessageBird  | Amsterdam https://www.indeed.com/cmp/Messagebird
# 215 | SendBird | San Mateo https://www.indeed.com/cmp/Sendbird
# 216 | Agora.io  | Santa Clara https://www.indeed.com/cmp/Agora.io
# 217 | Marqeta | Oakland https://www.indeed.com/cmp/Marqeta
# 218 | Algolia | San Francisco https://www.indeed.com/cmp/Algolia
# 219 | Sift | San Francisco https://www.indeed.com/cmp/Sift
# 220 | Firebase | San Francisco https://www.indeed.com/cmp/Firebase
# 222 | Checkout | Checkout.com, Wenlock Works, 41 Shepherdess Walk, Hoxton, London N1 7QE, UK https://www.indeed.com/cmp/Checkout.com
# 224 | Rapyd | London https://www.indeed.com/cmp/Rapyd
# 225 | TuSimple | San Diego https://www.indeed.com/cmp/Tusimple
# 226 | Cardlytics | nan https://www.indeed.com/cmp/Cardlytics

In [115]:
companies_list['Headquarters'].loc[210] = 'Bellevue, Washington'
companies_list['Headquarters'].loc[215] = 'Broadwick St, Soho, London W1F 0DB, United Kingdom'

In [116]:
companies_list.to_csv('Indeed_Companies-{}.csv'.format(date.today().strftime("%d-%m-%Y")))

#### Getting Countries

In [117]:
import geocoder
import googlemaps

api_key = 'AIzaSyDRTtALAU8Tjb3711Z4dho7WZp7Ygcpk6g'
gmaps = googlemaps.Client(key=api_key)

In [118]:
%%time
for idx in companies_list.iloc[-len(new_comps):].index:
    sleep(1)

    addr = companies_list['Headquarters'].loc[idx]
    google_addr = gmaps.geocode(addr)
    companies_list['GoogleMap Metadata'].loc[idx] = google_addr
    
    companies_list['Headquarters Address'].loc[idx] = companies_list['GoogleMap Metadata'].loc[idx][0]['formatted_address']
    companies_list['Headquarters Country'].loc[idx] = companies_list['Headquarters Address'].loc[idx].split(', ')[-1]

CPU times: user 139 ms, sys: 54 ms, total: 193 ms
Wall time: 27.6 s

In [125]:
#companies_list

## Getting Regional Indeed Data

In [176]:
reional_pages_posts = pd.DataFrame([])

In [187]:
%%time
no_job_on_regional_pages = []
for i in companies_list[companies_list['Headquarters Country']!='USA'].index:
    
    try:
        company = companies_list['Company Original'].loc[i]
        url = companies_list['Regional Indeed Jobs'].loc[i]
        browser.get(url)
    
    except:
        continue
        
    try:
        path = '//*[@class="cmp-JobListJobCount-jobCount"]' 
        num_jobs = browser.find_element_by_xpath(path).text
        num_jobs = re.sub(r'[^\.\,\d]', '', num_jobs[:10])
        num_jobs = re.sub(r'\,| |\.','', num_jobs)
        num_jobs = int(num_jobs)
    
    except:
        print('#', i, company, 'NO JOBS', '\n')
        no_job_on_regional_pages.append(company)
        continue
    
    page_data = pd.DataFrame({'Company':company,
                              'Raw Data':np.nan,
                              'Job Title':np.nan,
                              'Job Number':num_jobs,
                              'Posting Date':np.nan,
                              'Job Place':np.nan,}, index = range(num_jobs))
    
    print('#', i, company, 'num_jobs', num_jobs)
    
    for i in range(1,101):
        try:
            # Raw Data
            div = 3
            path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a'.format(div, i)
            raw = browser.find_element_by_xpath(path).text
            page_data['Raw Data'].loc[i-1] = raw
        
        except:
            try:
                # Raw Data
                div = 2
                path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a'.format(div, i)
                raw = browser.find_element_by_xpath(path).text
                page_data['Raw Data'].loc[i-1] = raw
            except:
                pass
        
        try:
            # Job Title
            path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[1]'.format(div, i)
            title = browser.find_element_by_xpath(path).text
            page_data['Job Title'].loc[i-1] = title
            
            # Date
            path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div'.format(div, i)
            date_post = browser.find_element_by_xpath(path).text
            if 'easily' in date_post.lower():
                path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div[2]'.format(div, i)
                date_post = browser.find_element_by_xpath(path).text

            page_data['Posting Date'].loc[i-1] = date_post

            # Place
            path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[2]'.format(div, i)
            place = browser.find_element_by_xpath(path).text
            page_data['Job Place'].loc[i-1] = place
        except:
            pass
        
    if num_jobs>100:
        for n in range(1, num_jobs//150+1):
            try:
                link = url + '?start={}'.format(150*n)
                browser.get(link)
                sleep(2)
            except:
                continue

            for i in range(1,101):
                try:
                    
                    # Raw Data
                    path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a'.format(div, i)
                    raw = browser.find_element_by_xpath(path).text
                    page_data['Raw Data'].loc[n*100+i-1] = raw
                    
                    # Job Title
                    path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[1]'.format(div, i)
                    title = browser.find_element_by_xpath(path).text
                    page_data['Job Title'].loc[n*100+i-1] = title

                    # Date
                    path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div'.format(div, i)
                    date_post = browser.find_element_by_xpath(path).text
                    if 'easily' in date_post.lower():
                        path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div[2]'.format(div, i)
                        date_post = browser.find_element_by_xpath(path).text

                    page_data['Posting Date'].loc[n*100+i-1] = date_post

                    # Place
                    path = '/html/body/div[2]/div/div[1]/main/div/div[{}]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[2]'.format(div, i)
                    place = browser.find_element_by_xpath(path).text
                    page_data['Job Place'].loc[n*100+i-1] = place
                
                except:
                    pass
                
    page_data = page_data[((~page_data['Raw Data'].isna())) |
                          ((~page_data['Job Title'].isna()) &
                          (~page_data['Posting Date'].isna()) &
                          (~page_data['Job Place'].isna()))].reset_index(drop=True)


    print('Pulled Jobs', page_data.shape[0],'\n')
    
    reional_pages_posts = pd.concat([reional_pages_posts, page_data], axis=0, ignore_index=True)
    reional_pages_posts['Current Date'] = date.today().strftime("%d/%m/%Y")

# 7 Atlassian num_jobs 26
Pulled Jobs 26

# 20 Dassault Systemes num_jobs 34
Pulled Jobs 34

# 32 Fortnox NO JOBS

# 37 Jira NO JOBS

# 66 Xero num_jobs 86
Pulled Jobs 86

# 106 Shopify num_jobs 1
Pulled Jobs 1

# 110 Adidas num_jobs 102
Pulled Jobs 100

# 112 Farfetch NO JOBS

# 114 Shift Technology num_jobs 5
Pulled Jobs 5

# 116 Adyen num_jobs 40
Pulled Jobs 40

# 125 World Pay NO JOBS

# 127 Klarna num_jobs 65
Pulled Jobs 65

# 128 Afterpay NO JOBS

# 129 Asos num_jobs 49
Pulled Jobs 49

# 130 Boohoo num_jobs 82
Pulled Jobs 82

# 132 Zalando num_jobs 399
Pulled Jobs 299

# 133 Zooplus NO JOBS

# 141 N26 NO JOBS

# 142 Revolut NO JOBS

# 143 Monzo num_jobs 15
Pulled Jobs 15

# 149 Takeaway.com num_jobs 110
Pulled Jobs 100

# 150 Just Eat num_jobs 185
Pulled Jobs 185

# 152 Deliveroo num_jobs 38
Pulled Jobs 38

# 161 Valve num_jobs 4
Pulled Jobs 4

# 172 Canonical num_jobs 18
Pulled Jobs 18

# 184 JetBrains num_jobs 13
Pulled Jobs 13

# 192 MySQL AB NO JOBS

# 195 Odoo num_jobs 10
Pulled Jobs 10

# 203 SUSE num_jobs 7
Pulled Jobs 7

# 211 Segment num_jobs 7
Pulled Jobs 7

# 213 Infobip  num_jobs 7
Pulled Jobs 7

# 214 MessageBird  num_jobs 14
Pulled Jobs 14

# 215 SendBird num_jobs 4
Pulled Jobs 4

# 222 Checkout NO JOBS

# 224 Rapyd NO JOBS

CPU times: user 16.3 s, sys: 1.17 s, total: 17.5 s
Wall time: 5min 53s

In [189]:
len(no_job_on_regional_pages)

11

In [188]:
reional_pages_posts = reional_pages_posts.drop_duplicates()
reional_pages_posts.shape

(1293, 7)

### Getting Job Postings from Companies pages

In [155]:
#pages_posts = pd.DataFrame([])

In [159]:
%%time
no_job_on_pages = []
for i in range(companies_list.shape[0]):
    
    try:
        company = companies_list['Company Original'].loc[i]
        url = companies_list['Home Page Jobs'].loc[i]
        browser.get(url)
    
    except:
        continue
    try:
        path = '//*[@class="cmp-JobListJobCount-jobCount"]' 
        num_jobs = browser.find_element_by_xpath(path).text
        num_jobs = re.findall(r'^.+(?= job)', num_jobs)[0]
        num_jobs = re.sub(r'\,| ','', num_jobs)
        num_jobs = int(num_jobs)
    
    except:
        print('#',i, company, 'NO JOBS')
        no_job_on_pages.append(company)
        continue
    
    page_data = pd.DataFrame({'Company':company,
                              'Raw Data':np.nan,
                              'Job Title':np.nan,
                              'Job Number':num_jobs,
                              'Posting Date':np.nan,
                              'Job Place':np.nan,}, index = range(num_jobs))
    
    print('#', i, company, 'num_jobs', num_jobs)
    
    for i in range(1,101):
        try:
            # Raw Data
            path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a'.format(i)
            raw = browser.find_element_by_xpath(path).text
            page_data['Raw Data'].loc[i-1] = raw

            # Job Title
            path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[1]'.format(i)
            title = browser.find_element_by_xpath(path).text
            page_data['Job Title'].loc[i-1] = title

            # Date
            path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div'.format(i)
            date_post = browser.find_element_by_xpath(path).text
            if 'easily' in date_post.lower():
                path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div[2]'.format(i)
                date_post = browser.find_element_by_xpath(path).text

            page_data['Posting Date'].loc[i-1] = date_post

            # Place
            path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[2]'.format(i)
            place = browser.find_element_by_xpath(path).text
            page_data['Job Place'].loc[i-1] = place
        
        except:
            pass
        
    if num_jobs>100:
        for n in range(1, num_jobs//150+1):
            try:
                link = url + '?start={}'.format(150*n)
                browser.get(link)
                sleep(2)
            except:
                continue

            for i in range(1,101):
                try:
                    
                    # Raw Data
                    path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a'.format(i)
                    raw = browser.find_element_by_xpath(path).text
                    page_data['Raw Data'].loc[n*100+i-1] = raw

                    # Job Title
                    path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[1]'.format(i)
                    title = browser.find_element_by_xpath(path).text
                    page_data['Job Title'].loc[n*100+i-1] = title

                    # Date
                    path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div'.format(i)
                    date_post = browser.find_element_by_xpath(path).text
                    if 'easily' in date_post.lower():
                        path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div[2]'.format(i)
                        date_post = browser.find_element_by_xpath(path).text

                    page_data['Posting Date'].loc[n*100+i-1] = date_post

                    # Place
                    path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[2]'.format(i)
                    place = browser.find_element_by_xpath(path).text
                    page_data['Job Place'].loc[n*100+i-1] = place
                
                except:
                    pass
                
    page_data = page_data[((~page_data['Raw Data'].isna())) |
                          ((~page_data['Job Title'].isna()) &
                          (~page_data['Posting Date'].isna()) &
                          (~page_data['Job Place'].isna()))].reset_index(drop=True)

    print('Pulled Jobs', page_data.shape[0], '\n')
    
    pages_posts = pd.concat([pages_posts, page_data], axis=0, ignore_index=True)
    pages_posts['Current Date'] = date.today().strftime("%d/%m/%Y")

# 0 8X8 num_jobs 14
Pulled Jobs 14

# 1 Adobe num_jobs 103
Pulled Jobs 100

# 2 ADP num_jobs 406
Pulled Jobs 300

# 3 Akamai num_jobs 39
Pulled Jobs 39

# 4 Alteryx num_jobs 25
Pulled Jobs 25

# 5 Anaplan NO JOBS
# 6 Ansys num_jobs 172
Pulled Jobs 172

# 7 Atlassian num_jobs 65
Pulled Jobs 65

# 8 Autodesk num_jobs 214
Pulled Jobs 164

# 9 Bill.com num_jobs 31
Pulled Jobs 31

# 10 Cadence Design num_jobs 103
Pulled Jobs 100

# 11 Ceridian num_jobs 603
Pulled Jobs 403

# 12 Check Point Software NO JOBS
# 13 Citirix num_jobs 127
Pulled Jobs 100

# 14 Cloudera num_jobs 18
Pulled Jobs 18

# 15 Cloudflare num_jobs 83
Pulled Jobs 83

# 16 Cornerstone on Demand num_jobs 15
Pulled Jobs 15

# 17 Coupa num_jobs 56
Pulled Jobs 56

# 18 CyberArk num_jobs 29
Pulled Jobs 29

# 19 Datadog num_jobs 140
Pulled Jobs 100

# 20 Dassault Systemes num_jobs 11
Pulled Jobs 11

# 21 Docusign num_jobs 161
Pulled Jobs 161

# 22 Domo num_jobs 21
Pulled Jobs 21

# 23 Dropbox num_jobs 41
Pulled Jobs 41

# 24 Dynatrace num_jobs 15
Pulled Jobs 15

# 25 Everbridge num_jobs 24
Pulled Jobs 24

# 26 Fastly num_jobs 30
Pulled Jobs 30

# 27 FireEye num_jobs 127
Pulled Jobs 100

# 28 Five9 num_jobs 58
Pulled Jobs 58

# 29 ForeScout num_jobs 19
Pulled Jobs 19

# 30 Fortinet num_jobs 172
Pulled Jobs 172

# 31 Fortive num_jobs 6
Pulled Jobs 6

# 32 Fortnox NO JOBS
# 33 Guidewire num_jobs 59
Pulled Jobs 59

# 34 Heroku NO JOBS
# 35 Hubspot num_jobs 53
Pulled Jobs 53

# 36 Intuit num_jobs 8788
Pulled Jobs 5900

# 37 Jira NO JOBS
# 38 Juniper num_jobs 54
Pulled Jobs 54

# 39 Manhattan Associates num_jobs 31
Pulled Jobs 31

# 40 Medallia num_jobs 46
Pulled Jobs 46

# 41 MongoDB num_jobs 82
Pulled Jobs 82

# 42 NetApp num_jobs 102
Pulled Jobs 100

# 43 Okta num_jobs 122
Pulled Jobs 100

# 44 Palantir num_jobs 62
Pulled Jobs 62

# 45 Palo Alto Networks num_jobs 230
Pulled Jobs 180

# 46 Pardot NO JOBS
# 47 Paycom num_jobs 200
Pulled Jobs 200

# 48 Ping Identity num_jobs 53
Pulled Jobs 53

# 49 PTC num_jobs 87
Pulled Jobs 87

# 50 Qualtrics num_jobs 61
Pulled Jobs 61

# 51 Qualys num_jobs 44
Pulled Jobs 44

# 52 Rapid7 num_jobs 51
Pulled Jobs 51

# 53 ServiceNow num_jobs 324
Pulled Jobs 224

# 54 Sinch num_jobs 9
Pulled Jobs 9

# 55 Slack num_jobs 103
Pulled Jobs 100

# 56 Smartsheet num_jobs 51
Pulled Jobs 51

# 57 Splunk num_jobs 719
Pulled Jobs 500

# 58 Synopsys num_jobs 112
Pulled Jobs 100

# 59 Tenable num_jobs 26
Pulled Jobs 26

# 60 Twilio num_jobs 173
Pulled Jobs 173

# 61 UiPath NO JOBS
# 62 Ultimate Software num_jobs 82
Pulled Jobs 82

# 63 Veeva System num_jobs 481
Pulled Jobs 400

# 64 VMWare num_jobs 948
Pulled Jobs 648

# 65 Workday num_jobs 118
Pulled Jobs 100

# 66 Xero num_jobs 9
Pulled Jobs 9

# 67 Zendesk num_jobs 50
Pulled Jobs 50

# 68 Zoom num_jobs 98
Pulled Jobs 98

# 69 Zscaler num_jobs 137
Pulled Jobs 100

# 70 Ringcentral num_jobs 140
Pulled Jobs 100

# 71 Snowflake NO JOBS
# 72 Elastic num_jobs 30
Pulled Jobs 30

# 73 Box num_jobs 79
Pulled Jobs 79

# 74 Paylocity num_jobs 46
Pulled Jobs 46

# 75 Procore num_jobs 50
Pulled Jobs 50

# 76 Pluralsights num_jobs 18
Pulled Jobs 18

# 77 Talend num_jobs 36
Pulled Jobs 36

# 78 New Relic num_jobs 177
Pulled Jobs 177

# 79 Varonis num_jobs 31
Pulled Jobs 31

# 80 Real Page num_jobs 84
Pulled Jobs 84

# 81 Aspen Technology num_jobs 52
Pulled Jobs 52

# 82 Zillow num_jobs 155
Pulled Jobs 155

# 83 Opendoor num_jobs 43
Pulled Jobs 43

# 84 Offerpad num_jobs 32
Pulled Jobs 32

# 86 Redfin num_jobs 573
Pulled Jobs 400

# 87 Streeteasy NO JOBS
# 88 Homelight num_jobs 26
Pulled Jobs 26

# 89 Compass num_jobs 227
Pulled Jobs 177

# 90 Tesla num_jobs 2451
Pulled Jobs 1700

# 91 Rivian Automotive num_jobs 8
Pulled Jobs 8

# 92 Wolfspeed NO JOBS
# 93 Cree num_jobs 116
Pulled Jobs 100

# 94 DraftKings num_jobs 44
Pulled Jobs 44

# 95 FanDuel num_jobs 79
Pulled Jobs 79

# 96 Fanatics num_jobs 71
Pulled Jobs 71

# 97 StitchFix num_jobs 35
Pulled Jobs 35

# 98 Revolve num_jobs 1
Pulled Jobs 1

# 99 RealReal num_jobs 158
Pulled Jobs 158

# 100 Chewy num_jobs 535
Pulled Jobs 386

# 101 Wayfair num_jobs 447
Pulled Jobs 300

# 102 Carvana num_jobs 431
Pulled Jobs 300

# 103 Carmax num_jobs 1999
Pulled Jobs 1400

# 104 Vroom num_jobs 64
Pulled Jobs 64

# 105 Shift num_jobs 111
Pulled Jobs 100

# 106 Shopify NO JOBS
# 107 BigCommerce num_jobs 41
Pulled Jobs 41

# 108 CommerceHub num_jobs 7
Pulled Jobs 7

# 109 Nike num_jobs 355
Pulled Jobs 255

# 110 Adidas num_jobs 353
Pulled Jobs 200

# 111 UnderArmour NO JOBS
# 112 Farfetch NO JOBS
# 113 Braintree NO JOBS
# 114 Shift Technology num_jobs 3
Pulled Jobs 3

# 115 Wix NO JOBS
# 116 Adyen num_jobs 9
Pulled Jobs 9

# 117 Paypal num_jobs 708
Pulled Jobs 500

# 118 Stripe NO JOBS
# 119 FIS Global num_jobs 798
Pulled Jobs 600

# 120 Fiserv num_jobs 618
Pulled Jobs 418

# 121 Fleetcor num_jobs 70
Pulled Jobs 70

# 122 Global Payments num_jobs 75
Pulled Jobs 75

# 123 Mastercard num_jobs 280
Pulled Jobs 200

# 124 Visa num_jobs 89
Pulled Jobs 89

# 125 World Pay NO JOBS
# 126 Affirm num_jobs 46
Pulled Jobs 46

# 127 Klarna num_jobs 9
Pulled Jobs 9

# 128 Afterpay NO JOBS
# 129 Asos NO JOBS
# 130 Boohoo NO JOBS
# 131 Etsy num_jobs 92
Pulled Jobs 92

# 132 Zalando NO JOBS
# 133 Zooplus NO JOBS
# 134 Home Depot num_jobs 24100
Pulled Jobs 15900

# 135 Lowes num_jobs 18867
Pulled Jobs 12500

# 136 William Sonoma  num_jobs 326
Pulled Jobs 226

# 137 Restoration Hardware num_jobs 515
Pulled Jobs 365

# 138 Roku num_jobs 77
Pulled Jobs 77

# 139 The Trade Desk NO JOBS
# 140 Snap num_jobs 114
Pulled Jobs 100

# 141 N26 num_jobs 5
Pulled Jobs 5

# 142 Revolut num_jobs 19
Pulled Jobs 19

# 143 Monzo NO JOBS
# 144 Doordash num_jobs 14800
Pulled Jobs 9800

# 145 Instacart num_jobs 105
Pulled Jobs 100

# 146 Uber NO JOBS
# 147 Lyft num_jobs 1286
Pulled Jobs 900

# 148 Bolt num_jobs 34
Pulled Jobs 34

# 149 Takeaway.com NO JOBS
# 150 Just Eat NO JOBS
# 151 Grubhub num_jobs 2182
Pulled Jobs 1500

# 152 Deliveroo NO JOBS
# 153 Discord num_jobs 60
Pulled Jobs 60

# 154 Twitch num_jobs 68
Pulled Jobs 68

# 155 100Thieves num_jobs 50
Pulled Jobs 50

# 156 Square num_jobs 142
Pulled Jobs 100

# 157 Zapier num_jobs 5
Pulled Jobs 5

# 158 Tray.io num_jobs 1
Pulled Jobs 1

# 159 Figma NO JOBS
# 160 Chime num_jobs 1
Pulled Jobs 1

# 161 Valve NO JOBS
# 162 Coursera num_jobs 26
Pulled Jobs 26

# 163 MasterClass num_jobs 17
Pulled Jobs 17

# 164 Udemy NO JOBS
# 165 Udacity num_jobs 20
Pulled Jobs 20

# 166 Lambda School NO JOBS
# 167 Codecademy num_jobs 42
Pulled Jobs 42

# 168 Acquia num_jobs 9
Pulled Jobs 9

# 169 Aras num_jobs 15
Pulled Jobs 15

# 170 Alfresco NO JOBS
# 171 Automattic NO JOBS
# 172 Canonical num_jobs 22
Pulled Jobs 22

# 174 Confluent num_jobs 73
Pulled Jobs 73

# 175 Couchbase num_jobs 30
Pulled Jobs 30

# 176 Docker num_jobs 7
Pulled Jobs 7

# 177 Databricks num_jobs 88
Pulled Jobs 88

# 178 Datastax num_jobs 5
Pulled Jobs 5

# 179 ForgeRock num_jobs 44
Pulled Jobs 44

# 180 GitHub NO JOBS
# 181 GitLab NO JOBS
# 182 HashiCorp num_jobs 32
Pulled Jobs 32

# 183 Instructure num_jobs 16
Pulled Jobs 16

# 184 JetBrains num_jobs 3
Pulled Jobs 3

# 185 JFrog num_jobs 16
Pulled Jobs 16

# 186 Kaltura num_jobs 6
Pulled Jobs 6

# 187 Liferay NO JOBS
# 188 Magento Commerce NO JOBS
# 189 Mapbox NO JOBS
# 190 Mozilla Corp NO JOBS
# 191 MuleSoft NO JOBS
# 192 MySQL AB NO JOBS
# 193 Neo4j num_jobs 25
Pulled Jobs 25

# 194 Nicira NO JOBS
# 195 Odoo num_jobs 17
Pulled Jobs 17

# 196 Pentaho NO JOBS
# 197 Pivotal num_jobs 47
Pulled Jobs 47

# 198 Puppet Labs NO JOBS
# 199 RedHat num_jobs 140
Pulled Jobs 100

# 200 Linden Lab num_jobs 3
Pulled Jobs 3

# 201 Sourcefire NO JOBS
# 202 SugarCRM num_jobs 33
Pulled Jobs 33

# 203 SUSE num_jobs 9
Pulled Jobs 9

# 205 WP Engine num_jobs 9
Pulled Jobs 9

# 206 Scale.ai NO JOBS
# 207 Postman NO JOBS
# 208 Nylas NO JOBS
# 209 Checkr  NO JOBS
# 210 Auth0 num_jobs 72
Pulled Jobs 72

# 211 Segment num_jobs 43
Pulled Jobs 43

# 212 Cloudinary num_jobs 16
Pulled Jobs 16

# 213 Infobip  num_jobs 7
Pulled Jobs 7

# 214 MessageBird  num_jobs 7

Pulled Jobs 7

# 215 SendBird num_jobs 9
Pulled Jobs 9

# 216 Agora.io  NO JOBS
# 217 Marqeta num_jobs 31
Pulled Jobs 31

# 218 Algolia num_jobs 17
Pulled Jobs 17

# 219 Sift num_jobs 11
Pulled Jobs 11

# 220 Firebase NO JOBS
# 221 Nexmo NO JOBS
# 222 Checkout num_jobs 7
Pulled Jobs 7

# 224 Rapyd NO JOBS
# 225 TuSimple num_jobs 402
Pulled Jobs 300

# 226 Cardlytics num_jobs 9
Pulled Jobs 9

CPU times: user 9min 41s, sys: 38.3 s, total: 10min 20s
Wall time: 2h 59min 12s

In [160]:
pages_posts.shape

(64708, 7)

In [168]:
pages_posts.to_csv('Indeed_Pages_Postings-{}.csv'.format(date.today().strftime("%d-%m-%Y")))

### Checking missed companies

In [203]:
indeed_df = pd.concat([pages_posts, reional_pages_posts], ignore_index=True)
indeed_df.shape

(66668, 7)

In [204]:
missed_comps = [x for x in current_list_comps['Company Original'].unique() if x not in indeed_df['Company'].unique()]
len(missed_comps)

47

In [205]:
%%time
for i, company in enumerate(missed_comps):
    
    try:
        #company = companies_list['Company Original'].loc[i]
        url = companies_list[companies_list['Company Original'] == company]['Home Page Jobs'].values[0]
        browser.get(url)
    
    except:
        continue
    try:
        path = '//*[@class="cmp-JobListJobCount-jobCount"]' 
        num_jobs = browser.find_element_by_xpath(path).text
        num_jobs = re.findall(r'^.+(?= job)', num_jobs)[0]
        num_jobs = re.sub(r'\,| ','', num_jobs)
        num_jobs = int(num_jobs)
    
    except:
        print('#',i, company, 'NO JOBS')
        
        if company not in no_job_on_pages:
            no_job_on_pages.append(company)
        continue
    
    page_data = pd.DataFrame({'Company':company,
                              'Raw Data':np.nan,
                              'Job Title':np.nan,
                              'Job Number':num_jobs,
                              'Posting Date':np.nan,
                              'Job Place':np.nan,}, index = range(num_jobs))
    
    print('#', i, company, 'num_jobs', num_jobs)
    
    for i in range(1,101):
        try:
            # Raw Data
            path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a'.format(i)
            raw = browser.find_element_by_xpath(path).text
            page_data['Raw Data'].loc[i-1] = raw

            # Job Title
            path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[1]'.format(i)
            title = browser.find_element_by_xpath(path).text
            page_data['Job Title'].loc[i-1] = title

            # Date
            path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div'.format(i)
            date_post = browser.find_element_by_xpath(path).text
            if 'easily' in date_post.lower():
                path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div[2]'.format(i)
                date_post = browser.find_element_by_xpath(path).text

            page_data['Posting Date'].loc[i-1] = date_post

            # Place
            path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[2]'.format(i)
            place = browser.find_element_by_xpath(path).text
            page_data['Job Place'].loc[i-1] = place
        
        except:
            pass
        
    if num_jobs>100:
        for n in range(1, num_jobs//150+1):
            try:
                link = url + '?start={}'.format(150*n)
                browser.get(link)
                sleep(2)
            except:
                continue

            for i in range(1,101):
                try:
                    
                    # Raw Data
                    path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a'.format(i)
                    raw = browser.find_element_by_xpath(path).text
                    page_data['Raw Data'].loc[n*100+i-1] = raw

                    # Job Title
                    path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[1]'.format(i)
                    title = browser.find_element_by_xpath(path).text
                    page_data['Job Title'].loc[n*100+i-1] = title

                    # Date
                    path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div'.format(i)
                    date_post = browser.find_element_by_xpath(path).text
                    if 'easily' in date_post.lower():
                        path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[3]/div[2]'.format(i)
                        date_post = browser.find_element_by_xpath(path).text

                    page_data['Posting Date'].loc[n*100+i-1] = date_post

                    # Place
                    path = '/html/body/div[2]/div/div[1]/main/div/div[2]/div/div/div[2]/div[1]/ul/li[{}]/a/div[1]/div[2]'.format(i)
                    place = browser.find_element_by_xpath(path).text
                    page_data['Job Place'].loc[n*100+i-1] = place
                
                except:
                    pass
                
    page_data = page_data[((~page_data['Raw Data'].isna())) |
                          ((~page_data['Job Title'].isna()) &
                          (~page_data['Posting Date'].isna()) &
                          (~page_data['Job Place'].isna()))].reset_index(drop=True)

    print('Pulled Jobs', page_data.shape[0], '\n')
    
    pages_posts = pd.concat([pages_posts, page_data], axis=0, ignore_index=True)
    pages_posts['Current Date'] = date.today().strftime("%d/%m/%Y")

# 0 Anaplan NO JOBS
# 1 Check Point Software NO JOBS
# 2 Fortnox NO JOBS
# 3 Heroku NO JOBS
# 4 Jira NO JOBS
# 5 Pardot NO JOBS
# 6 UiPath NO JOBS
# 7 Snowflake NO JOBS
# 9 Streeteasy NO JOBS
# 10 Wolfspeed NO JOBS
# 11 Farfetch NO JOBS
# 12 Stripe NO JOBS
# 13 World Pay NO JOBS
# 14 Afterpay NO JOBS
# 15 Zooplus NO JOBS
# 16 The Trade Desk NO JOBS
# 17 Uber NO JOBS
# 18 Figma NO JOBS
# 19 Udemy NO JOBS
# 20 Lambda School NO JOBS
# 21 Alfresco NO JOBS
# 22 Automattic NO JOBS
# 24 GitHub NO JOBS
# 25 GitLab NO JOBS
# 26 Liferay NO JOBS
# 27 Magento Commerce NO JOBS
# 28 Mapbox NO JOBS
# 29 Mozilla Corp NO JOBS
# 30 MuleSoft NO JOBS
# 31 MySQL AB NO JOBS
# 32 Nicira NO JOBS
# 33 Pentaho NO JOBS
# 34 Puppet Labs NO JOBS
# 35 Sourcefire NO JOBS
# 37 Scale.ai NO JOBS
# 38 Postman NO JOBS
# 39 Nylas NO JOBS
# 40 Checkr  NO JOBS
# 41 Agora.io  NO JOBS
# 42 Firebase NO JOBS
# 43 Nexmo NO JOBS
# 45 Rapyd NO JOBS
CPU times: user 180 ms, sys: 28.9 ms, total: 209 ms
Wall time: 21.2 s

# Translating

In [212]:
from googletrans import Translator
translator = Translator()

In [206]:
reional_pages_posts = pd.merge(reional_pages_posts, 
                               companies_list[['Company Original','Headquarters Country']],
                               how='left',
                               left_on='Company',
                               right_on='Company Original')
reional_pages_posts.shape

(1293, 9)

In [210]:
reional_pages_posts['Job Title Regional'] = reional_pages_posts['Job Title']

In [213]:
%%time
for i,j in enumerate(reional_pages_posts[reional_pages_posts['Headquarters Country'].isin(no_english)].index):
    traslation = translator.translate(reional_pages_posts['Job Title Regional'].loc[j]).text
    reional_pages_posts['Job Title'].loc[j] = traslation
    if i%100==0:
        print(i)

0
50
100
150
200
250
300
350
400
450
500
550
600
650
700
CPU times: user 3.31 s, sys: 193 ms, total: 3.5 s
Wall time: 1min 55s

In [4986]:
#reional_pages_posts.to_csv('Regional Data-10-08.csv')

# Processing Data

In [394]:
test = pd.concat([pages_posts, reional_pages_posts]).reset_index(drop=True)
test.shape

(66668, 11)

In [395]:
test.isna().sum()

Company                     0
Raw Data                    0
Job Title                   0
Job Number                  0
Posting Date             8603
Job Place                8603
Current Date                0
Company Original        65375
Headquarters Country    65375
Job Title Regional      65375
Raw Data Translated     65375
dtype: int64

In [217]:
with open('Indeed-Raw-Data-{}.pkl'.format(date.today().strftime("%d-%m-%Y")), 'wb') as f:
    pickle.dump(test, f)

In [218]:
test['Company'].nunique(), companies_list['Company Original'].nunique()

(181, 228)

In [219]:
len([x for x in companies_list['Company Original'].unique() if x not in test['Company'].unique()])

47

### Getting missed data from raw text

In [396]:
test['Raw Data'] = test['Raw Data'].str.replace(r'Tagen|päivää|dagen|dag|dagar |jours|dny|Tag', 'days ago ').str.replace(r'Stunde|timmar', 'hours ago ')

In [397]:
test['Job Title Raw'] = test['Raw Data'].str.split('\n', expand=True)[0]
test['Job Place Raw'] = test['Raw Data'].str.split('\n', expand=True)[2]
test['Posting Date Raw'] = test['Raw Data'].str.extract(r'(.+(?= ago))', expand=True)[0]

In [398]:
test['Job Title'] = test['Job Title'].fillna(test['Job Title Raw'])
test['Job Place'] = test['Job Place'].fillna(test['Job Place Raw'])

In [399]:
test['Posting Date Processed'] = test['Posting Date'].fillna(test['Posting Date Raw'])
test['Posting Date Processed'] = test['Posting Date Processed'].str.replace(r'Tagen|päivää|dagen|dag|dagar |jours|dny|Tag', 'days ago ').str.replace(r'Stunde|timmar', 'hours ago ')

#### Processing dates

In [401]:
for i in test.index:

    if 'hour' in str(test['Posting Date Processed'].loc[i]):
        test['Posting Date Processed'].loc[i] = 1
    
    if 'minute' in str(test['Posting Date Processed'].loc[i]):
        test['Posting Date Processed'].loc[i] = 1

In [402]:
test['Posting Date Num'] = test['Posting Date Processed'].astype(str).str.extract(r'(\d+)').astype(float)

In [586]:
test[['Posting Date', 'Posting Date Raw', 'Posting Date Num']].sample(3)

       Posting Date Posting Date Raw  Posting Date Num
19954    6 days ago           6 days               6.0
4703     6 days ago           6 days               6.0
10912  30+ days ago         30+ days              30.0

### Dropping duplicates

In [411]:
test[(~test['Job Place'].isna()) &
     (~test['Posting Date Processed'].isna()) & 
     (~test.duplicated(subset=['Job Title',
                              'Company', 
                              'Posting Date Processed',
                              'Job Place'], keep='first'))
    ].shape

(20523, 16)

In [412]:
test = test[(~test['Job Place'].isna()) &
            (~test['Posting Date Processed'].isna()) & 
            (~test.duplicated(subset=['Job Title',
                                      'Company', 
                                      'Posting Date Processed',
                                      'Job Place'], keep='first'))].sort_values('Job Title')
test.shape

(20523, 16)

### Missed companies

In [415]:
no_jobs_list = [x for x in companies_list['Company Original'].unique() if x not in test['Company'].unique()]
len(no_jobs_list)

47

In [417]:
no_jobs_df = pd.DataFrame(no_jobs_list, columns=['Company'])
no_jobs_df.shape

(47, 1)

## Getting correct titles

### Classifying Titles

In [482]:
test['Job Title New'] = test['Job Title'].fillna('-999').astype(str)

In [483]:
# sales
sales_idx = test[(test['Job Title New'].str.lower().str.contains(r'sale'))]['Job Title New'].index.to_list()
test['Job Title New'].loc[sales_idx] = 'sales'
test['Job Title New'].nunique()

10718

In [484]:
# engineering
eng_idx = test[test['Job Title New'].str.lower().str.contains(r' engineer(?![a-z])|engineer |develop|architect')].index.to_list()
test['Job Title New'].loc[eng_idx] = 'engineering'
test['Job Title New'].nunique()

7759

In [485]:
# program & product management
prod_idx = test[((test['Job Title New'].str.lower().str.contains(r' manager(?![a-z])') |
                 (test['Job Title New'].str.lower().str.contains(r'manager |team lead')))) &

                 ((test['Job Title New'].str.lower().str.contains(r' product(?![a-z])') |
                 (test['Job Title New'].str.lower().str.contains(r'product ')))) |

                 ((test['Job Title New'].str.lower().str.contains(r' program(?![a-z])') |
                 (test['Job Title New'].str.lower().str.contains(r'program ')))) | 
                
                (test['Job Title New'].str.lower().str.contains(r'product owner|product specialist'))

                ]['Job Title New'].index.to_list()
test['Job Title New'].loc[prod_idx] = 'program & product management'
test['Job Title New'].nunique()

7117

In [486]:
# analytics
analytics_idx = test[(test['Job Title New'].str.lower().str.contains(r'scientist')) | 
                     (test['Job Title New'].str.lower().str.contains(r'research')) |
                     (test['Job Title New'].str.lower().str.contains(r'analys'))
                    ]['Job Title New'].index.to_list()

test['Job Title New'].loc[analytics_idx] = 'analytics'
test['Job Title New'].nunique()

6343

In [487]:
# design
design_idx = test[(test['Job Title New'].str.lower().str.contains(r'design'))]['Job Title New'].index.to_list()
test['Job Title New'].loc[design_idx] = 'design'
test['Job Title New'].nunique()

6128

In [488]:
# consulting
consult_idx = test[(test['Job Title New'].str.lower().str.contains(r'consultant|advis'))]['Job Title New'].index.to_list()
test['Job Title New'].loc[consult_idx] = 'consulting'
test['Job Title New'].nunique()
#.value_counts()#.nunique()##.nunique()

5798

In [489]:
# real estate
re_idx = test[(test['Job Title New'].str.lower().str.contains(r'real estate|closer'))]['Job Title New'].index.to_list()
test['Job Title New'].loc[re_idx] = 'real estate'
test['Job Title New'].nunique()

5474

In [490]:
# operational
oper_idx = test[(test['Job Title New'].str.lower().str.contains(r'support')) |
                (test['Job Title New'].str.lower().str.contains(r'inventory')) |
                (test['Job Title New'].str.lower().str.contains(r'representative|executive assistant')) |
                (test['Job Title New'].str.lower().str.contains(r'office associate')) |
                (test['Job Title New'].str.lower().str.contains(r'fulfillment')) |
                 (test['Job Title New'].str.lower().str.contains(r'administr')) |
                (test['Job Title New'].str.lower().str.contains(r'specialist')) |
                 (test['Job Title New'].str.lower().str.contains(r'coordinator|buyers assistant')) |
                 (test['Job Title New'].str.lower().str.contains(r'operations|supply associate')) 
                

                ]['Job Title New'].index.to_list()

test['Job Title New'].loc[oper_idx] = 'operational'
test['Job Title New'].nunique()

4366

In [501]:
# techicians & general labor
general_idx = test[
                (test['Job Title New'].str.lower().str.contains(r'operator|technical|mechanic')) |
                (test['Job Title New'].str.lower().str.contains(r'lot attendant|freight\/receiving|auto body shop')) |
                (test['Job Title New'].str.lower().str.contains(r'warehouse worker|deliver')) |
                (test['Job Title New'].str.lower().str.contains(r'roofer|vehicle condition assessor')) |
                (test['Job Title New'].str.lower().str.contains(r'installer|detailer|electrician|worker')) |

                (test['Job Title New'].str.lower().str.contains(r'painter|concierge|driver|cashier|drive with lyft')) |

    
                (test['Job Title New'].str.lower().str.contains(r'retail store associate|courier')) |
                (test['Job Title New'].str.lower().str.contains(r'warehouse store associate|stock')) |
                (test['Job Title New'].str.lower().str.contains(r'warehouse associate|lot associate')) |
                 (test['Job Title New'].str.lower().str.contains(r'supervisor|librarian')) |
                 (test['Job Title New'].str.lower().str.contains(r'technici|general labor')) 
                ]['Job Title New'].index.to_list()

test['Job Title New'].loc[general_idx] = 'technicians & general labor'
test['Job Title New'].nunique()

884

In [492]:
# general management
mng_idx = test[((test['Job Title New'].str.lower().str.contains(r' manager(?![a-z])') |
                 (test['Job Title New'].str.lower().str.contains(r'manager |manager\,|lead')))) &
               
               

                 (~test['Job Title New'].fillna('-999').astype(str).str.lower().str.contains(r' product(?![a-z])') &
                 (~test['Job Title New'].fillna('-999').astype(str).str.lower().str.contains(r'product '))) &


                 (~test['Job Title New'].fillna('-999').astype(str).str.lower().str.contains(r' program(?![a-z])') &
                 (~test['Job Title New'].fillna('-999').astype(str).str.lower().str.contains(r'program ')))]['Job Title New'].index.to_list()

test['Job Title New'].loc[mng_idx] = 'general management'
test['Job Title New'].nunique()

1998

In [493]:
# executives
exec_idx = test[(test['Job Title New'].str.lower().str.contains(r'director')) | 
                (test['Job Title New'].str.lower().str.contains(r'head of')) |
                (test['Job Title New'].str.lower().str.contains(r'partner')) | 
                 (test['Job Title New'].str.lower().str.contains(r'president')) |
                 (test['Job Title New'].str.lower().str.contains(r'officer')) |
                (test['Job Title New'].str.contains(r'VP')) |
                 (test['Job Title New'].str.lower().str.contains(r'executiv')) 
                
                
                ]['Job Title New'].index.to_list()

test['Job Title New'].loc[exec_idx] = 'top/middle-level management'
test['Job Title New'].nunique()

1155

In [494]:
# HR
hr_idx = test[(test['Job Title New'].str.lower().str.contains(r'hr|human resou|hiring|recruit|talent|trainer'))]['Job Title New'].index.to_list()
test['Job Title New'].loc[hr_idx] = 'human resources'
test['Job Title New'].nunique()

1079

In [495]:
# marketing
marketing_idx = test[(test['Job Title New'].str.lower().str.contains(r'marketing|copywriter|marketer|content|merchandising'))]['Job Title New'].index.to_list()
test['Job Title New'].loc[marketing_idx] = 'marketing'
test['Job Title New'].nunique()

1030

In [496]:
# Finance
finance_idx = test[(test['Job Title New'].str.lower().str.contains(r'accountant|financ|payroll|mortgage|risk|tax'))]['Job Title New'].index.to_list()
test['Job Title New'].loc[finance_idx] = 'finance'
test['Job Title New'].nunique()

970

In [497]:
# Legal
legal_idx = test[(test['Job Title New'].str.lower().str.contains(r'legal|counsel'))]['Job Title New'].index.to_list()
test['Job Title New'].loc[legal_idx] = 'legal'
test['Job Title New'].nunique()

886

#### Coverage

In [498]:
test = test[test['Job Title New'] !='-999']

In [587]:
test['Job Title New'].value_counts().head(16)

engineering                     4378
technicians & general labor     4263
general management              2064
operational                     1939
sales                           1592
other                           1233
top/middle-level management     1082
analytics                       1063
program & product management     877
consulting                       513
finance                          496
design                           373
real estate                      337
legal                            124
human resources                  113
marketing                         76
Name: Job Title New, dtype: int64

In [588]:
main_titles = test['Job Title New'].value_counts().head(15).index.to_list()
test[test['Job Title New'].isin(main_titles)].shape[0]/test.shape[0]

0.9940204180845892

In [505]:
# Other Titles
other_idx = test[~test['Job Title New'].isin(main_titles)].index.to_list()
test['Job Title New'].loc[other_idx] = 'other'
test['Job Title New'].nunique()

16

In [506]:
test['Job Title New'].value_counts()

engineering                     4378
technicians & general labor     4263
general management              2064
operational                     1939
sales                           1592
other                           1233
top/middle-level management     1082
analytics                       1063
program & product management     877
consulting                       513
finance                          496
design                           373
real estate                      337
legal                            124
human resources                  113
marketing                         76
Name: Job Title New, dtype: int64

## Getting weekly stat

In [465]:
spreadsheet_key = '1VvDfqliy3PB-X7Ro9PNYL-hHbOLJ4P4FeMNcrz5w624'

In [466]:
import json
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g
scope = ['https://spreadsheets.google.com/feeds'] 
credentials = ServiceAccountCredentials.from_json_keyfile_name('/Users/macbook/Downloads/gs-credentials.json', scope) 
gc = gspread.authorize(credentials)

In [527]:
test = pd.concat([test, no_jobs_df], axis=0, ignore_index=True)

### First two weeks

In [528]:
test[test['Posting Date Num']<=15].shape

(7379, 17)

In [529]:
groupe_df = test[test['Posting Date Num']<=15].groupby(['Company','Job Title New'])['Job Title'].count()
groupe_df = groupe_df.reset_index()
groupe_df.shape

(1031, 3)

In [530]:
pivot_df_two =pd.pivot_table(groupe_df, values='Job Title', index=['Company'],
                        columns=['Job Title New'], aggfunc=np.sum).reset_index()
pivot_df_two.shape

(171, 17)

In [531]:
pivot_df_two['Total'] = pivot_df_two.loc[:,'analytics':'top/middle-level management'].sum(axis=1)

In [532]:
pivot_df_two['Company'].nunique()

171

In [533]:
# missed comps in pivot
missed_in_pivot = [x for x in test['Company'].unique() if x not in pivot_df_two['Company'].unique()]
missed_in_pivot_df_two = pd.DataFrame(missed_in_pivot, columns=['Company'])
len(missed_in_pivot)

57

In [534]:
pivot_df_two = pd.concat([pivot_df_two, missed_in_pivot_df_two], ignore_index=True)
pivot_df_two.shape

(228, 18)

In [535]:
pivot_df_two = pivot_df_two.sort_values('Company').rename(columns={'Company':'Company'})
pivot_df_two.shape

(228, 18)

In [536]:
gs_cols = ['Company', 'Total','analytics', 'consulting', 'design', 'engineering',
           'finance', 'general management', 'human resources', 'legal',
           'marketing', 'operational', 'other', 'program & product management',
           'real estate', 'sales', 'technicians & general labor',
           'top/middle-level management']
pivot_df_two = pivot_df_two[gs_cols]

In [538]:
d2g.upload(pivot_df_two.fillna('-'),
           spreadsheet_key,
           '0 to 15 days back. {}'.format(date.today().strftime("%d-%m-%Y")),
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = 'A1',
           clean=True)

### Second two weeks

In [539]:
test[(test['Posting Date Num']>=15) & (test['Posting Date Num']<=30)].shape

(13178, 17)

In [540]:
groupe_df = test[(test['Posting Date Num']>=15) & (test['Posting Date Num']<=30)].groupby(['Company','Job Title New'])['Job Title'].count()
groupe_df = groupe_df.reset_index()
groupe_df.shape

(1406, 3)

In [541]:
pivot_df_four =pd.pivot_table(groupe_df, values='Job Title', index=['Company'],
                        columns=['Job Title New'], aggfunc=np.sum).reset_index()
pivot_df_four.shape

(177, 17)

In [542]:
pivot_df_four['Company'].nunique()

177

In [543]:
pivot_df_four['Total'] = pivot_df_four.loc[:,'analytics':'top/middle-level management'].sum(axis=1)

In [544]:
# missed comps in pivot
missed_in_pivot = [x for x in test['Company'].unique() if x not in pivot_df_four['Company'].unique()]
missed_in_pivot_df_four = pd.DataFrame(missed_in_pivot, columns=['Company'])

In [545]:
pivot_df_four = pd.concat([pivot_df_four, missed_in_pivot_df_four], ignore_index=True)
pivot_df_four.shape

(228, 18)

In [546]:
pivot_df_four = pivot_df_four.sort_values('Company').rename(columns={'Company':'Company'})
pivot_df_four.shape

(228, 18)

In [547]:
pivot_df_four = pivot_df_four[gs_cols]

#### To Gs

In [548]:
d2g.upload(pivot_df_four.fillna('-'),
           spreadsheet_key,
           '15 to 30 days back. {}'.format(date.today().strftime("%d-%m-%Y")),
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = 'A1',
           clean=True)

### More than month

In [573]:
test[(test['Posting Date Num']>=30)].shape

(9315, 17)

In [574]:
groupe_df = test[test['Posting Date Num']>=30].groupby(['Company','Job Title New'])['Job Title'].count()
groupe_df = groupe_df.reset_index()
groupe_df.shape

(1241, 3)

In [575]:
pivot_df_month = pd.pivot_table(groupe_df, values='Job Title', index=['Company'],
                        columns=['Job Title New'], aggfunc=np.sum).reset_index()
pivot_df_month.shape

(175, 17)

In [576]:
pivot_df_month['Company'].nunique()

175

In [577]:
pivot_df_month['Total'] = pivot_df_month.loc[:,'analytics':'top/middle-level management'].sum(axis=1)

In [578]:
# missed comps in pivot
missed_in_pivot = [x for x in test['Company'].unique() if x not in pivot_df_month['Company'].unique()]
missed_in_pivot_df_month = pd.DataFrame(missed_in_pivot, columns=['Company'])

In [579]:
pivot_df_month = pd.concat([pivot_df_month, missed_in_pivot_df_month], ignore_index=True)
pivot_df_month.shape

(228, 18)

In [580]:
pivot_df_month = pivot_df_month.sort_values('Company').rename(columns={'Company':'Company'})
pivot_df_month.shape

(228, 18)

In [581]:
pivot_df_month = pivot_df_month[gs_cols]

In [582]:
d2g.upload(pivot_df_month.fillna('-'),
           spreadsheet_key,
           '30+ days back. {}'.format(date.today().strftime("%d-%m-%Y")),
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = 'A1',
           clean=True)

In [583]:
d2g.upload(test[['Company','Job Title','Posting Date','Job Title New','Job Place']].fillna('-'),
           spreadsheet_key,
           'Raw Data. {}'.format(date.today().strftime("%d-%m-%Y")),
           credentials=credentials,
           col_names=True,
           row_names=False,
           start_cell = 'A1',
           clean=True)